<div class="logos">
	<%= image_tag "https://iut.univ-cotedazur.fr/uas/composante-iut/LOGO_MONOCHROME/logo-iut-blanc-V2.png", class: "logo-iut logo", alt: "logo-iut", height: "120px" %>
	<%= image_tag "https://iut.univ-cotedazur.fr/medias/photo/ucalogoqhautblanc_1592312388861-png", class: "logo-uca logo", alt: "logo-uca", height: "120px" %>
</div>

<div class="accueil-intro">
	<h3>Statistiques & Informatique Decisionnel*</h3>
	<p>Bienvenue sur le site non-officiel du B.U.T STID* Nice - Sophia Antipolis</p>	
</div>
<div class="dashboard">
	<div class="first-floor">
		<%= image_tag "https://i.imgur.com/ZZpsSXo.png", class: "dashboard-img", alt: "dashboard image", width: "560px" %>
	</div>
	<div class="second-floor">
		<%= image_tag "https://i.imgur.com/vpeJP3Z.png", class: "dashboard-img", alt: "dashboard image", width: "560px" %>
		<%= image_tag "https://i.imgur.com/KmVjZ0S.png", class: "dashboard-img", alt: "dashboard image", width: "560px" %>
	</div>
</div>