<div class="text-but">
	<h1>B.U.T</h1>

	<p class="paragraphe">Un BUT (Bachelor Universitaire de Technologies) est un diplôme préparé en 3 ans en IUT. Un DUT est délivré à la fin des 2 premières années. La formation mise sur les travaux pratiques et des cours assurés par des professionnels du secteur. Le BUT est un diplôme national, mais reconnu à l'international, délivré sur la base d'un contrôle continu.</p>

	<%= image_tag "https://i.imgur.com/YyqX8na_d.webp?maxwidth=1520&fidelity=grand", class: "but-pop-up" ,alt: "but-title", width: "1000px" %>

</div>

<div class="but-details-bac">
	<div class="but-details-img">
		<%= image_tag "https://i.imgur.com/leOWfOF_d.webp?maxwidth=1520&fidelity=grand", alt: "but-chronique", width: "800px" %>
	</div>
	<div class="text-but-details-bac">
		<p>Le BUT STID permet de développer ses compétences de gestion informatique de données et leur traitement statistique. En effet la formation concentre plusieurs avantages :</p>
		<ul>
			<li>Effectif réduit (~20 étudiants)</li>
			<li>Contrôle continu dans chaque unité d'enseignement (UE).</li>
			<li>400h de projet(s).</li>
			<li>26 semaines de stages en 2ème et 3ème année.</li>
			<li>Possibilité d'alternance en 3ème année.</li>
			<li>Équipe pédagogique d'enseignants chercheurs.</li>
			<li>Encadrement et suivi régulier des étudiants.</li>
		</ul>	
	</div>
</div>

<h1>La sélection des étudiants</h1>

<p>Le recrutement des étudiants en BUT STID se fait via la plateforme</p><%= link_to "parcoursup", "https://www.parcoursup.fr/" %><p>et l'inscription administrative doit être faite avant mi-juillet après les résultats d'admission. La sélection des étudiants se base sur l'étude du dossier de 1ère année et Terminale puis our certains, dans un second temps, un entretien.</p>
<p>Bacs généraux : les enseignements de spécialités mathématiques, numériques & sciences de l'informatique, SES et sciences de l'ingénieur sont recommandés.</p>

<h3>La procédure de recrutement :</h3>

<p>Après avoir émis le voeux du BUT STID sur</p><%= link_to "parcoursup", "https://www.parcoursup.fr/" %><P>, les dossiers sont étudiés par les professeurs du département STID pour décider de votre acceptation, la mise en liste d'attente ou le rejet d. Certains élèves seront reçus en entretien. Une fois que l'élève a été accepté, celui-ci doit confirmer son choix et la procédure d'inscription débute alors (toutes les informations se retrouve sur</p><%= link_to "parcoursup", "https://www.parcoursup.fr/" %><p>). Enfin, la date de rentrée pour septembre 2022 vous sera communiqué par mail et sera également disponible sur le site internet.</p>